body {
    background-color: #ffffff;
    color: #000000;
}

.bgTeste {
    background-color: #00ffff;
}

.bgBlog {
    background-color: brown;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }